<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>TROLLTROLL.*</string>
	<key>com.apple.developer.team-identifier</key>
	<string>TROLLTROLL</string>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>TROLLTROLL.*</string>
		<string>com.apple.token</string>
	</array>
	<!-- 对照版：暂时去掉 no-sandbox，确认闪退根因
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	-->
</dict>
</plist>
